.dark-side{
--ccc: #cccccc1c;
}
body{
    --ccc:#ccc6;
}
div.Upload_User_Files{
    width: 100%;
    margin: auto;
    margin-top: 00px;
}
div.Upload_Container_files{
    width: auto;
    margin: auto;
    margin-left: 24.5%;
    padding-top: 8.5%;
}
div.SongFiles{
    width: 100%;
    margin: auto;
}
div.SongFiles_Details{
    width: 95%;
    margin: auto;
}
div.Songs_Details_Grid{
    display: flex;
    flex-wrap: wrap;
    margin-top: -35px;
}
div.Details_Songs_Files{
    width: 180px;
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
    margin-left: 10px;
}
div.Name_Songs_Details {    
    width: 100%;
    margin: auto;
    border: 1px solid var(--ccc);
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.Image_Song_details{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
.Linear_G{
    background-color: #7ee8fa;
    color: #651188;
    border: 1px solid var(--ccc);
    background-image: linear-gradient(45deg, #7ee8fa 25%, #80ff72 70% );
    width: 150px;
    height: 150px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px;
}
.Middle_Name{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.Name_Center{
    text-align: center;
    color: var(--000);
}
.Song_Audio_preview_Music{
    display: none;
}
div.Audio_Button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -5px;
}
button.BTN_Play{
    position: absolute;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--ccc);
    background-color: var(--000);
    color: var(--fff);
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
}
button.BTN_Play:hover,
button.BTN_Play:focus{
    transform: scale(1);
    box-shadow: 0px 0px 8px var(--ccc);
}
div.Song_Name_De{
    padding-top: 3px;
    transition: all 0.3s ease-in-out;
}
p.Song_Name_S{
    color: var(--000);
    transition: all 0.3s ease-in-out;
}
p.Song_Des{
    color: var(--000);
    transition: all 0.3s ease-in-out;
}
div.Song_Player{
    position: absolute;
    background-color: var(--ccc);
    width: 100%;
    height: auto;
    z-index: 999999;
    bottom: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 8px var(--box);
}
audio{
    width: 700px;
    height: 50px;
}
.Song_Audio_preview {
   background-color: red;
  }